<div class="card">
    <h5 class="card-header">Add new user</h5>
    <div class="card-body">
        <div class="row justify-content-center">
            <form class="col-3"
                  method="post"
                  id="new">
                <div class="row text-center fw-bold fs-6">
                    <label class="form-label" for="newFirstName">First name</label>
                    <input class="form-control form-control-sm"
                           id="newFirstName" type="text" name="username"/>
                </div>
                <div class="row text-center fw-bold fs-6 py-2">
                    <label class="form-label" for="newLastName">Last name</label>
                    <input class="form-control form-control-sm"
                           id="newLastName" type="text" name="lastName"/>
                </div>
                <div class="row text-center fw-bold fs-6 py-2">
                    <label class="form-label" for="newAge">Age</label>
                    <input class="form-control form-control-sm"
                           id="newAge" type="number" name="age"/>
                </div>
                <div class="row text-center fw-bold fs-6 py-2">
                    <label class="form-label" for="newEmail">Email</label>
                    <input class="form-control form-control-sm"
                           id="newEmail" type="text" name="email"/>
                </div>
                <div class="row text-center fw-bold fs-6 py-2">
                    <label class="form-label" for="newPassword">Password</label>
                    <input class="form-control form-control-sm"
                           id="newPassword" type="password" name="password"/>
                </div>
                <div class="row text-center fw-bold fs-6 py-2">
                    <label class="form-label" for="newRole">Role</label>
                    <select class="form-select"
                            id="newRole" multiple="multiple" name="roleId">
                        <option disabled>Select roles</option>
                    </select>
                </div>
                <div class="col text-center py-2">
                    <input class="btn btn-success" type="submit" value="Add new user"/>
                </div>
            </form>
        </div>
    </div>
</div>