<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Edit user</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<form th:action="@{/admin}"
      th:object="${user}"
      method="post">
    <table>
        <tr>
            <td></td>
            <td><label>
                <input type="text" hidden name="id" th:field="*{id}"/>
            </label></td>
        </tr>

        <tr>
            <td>Email</td>
            <td><label>
                <input type="text" name="email" th:field="*{email}"/>
            </label></td>
        </tr>

        <tr>
            <td>Password</td>
            <td><label>
                <input type="password" name="password" th:field="*{password}"/>
            </label></td>
        </tr>

        <tr>
            <td>Name</td>
            <td><label>
                <input type="text" name="username" th:field="*{username}"/>
            </label></td>
        </tr>

        <tr>
            <td>Last Name</td>
            <td><label>
                <input type="text" name="lastName" th:field="*{lastName}"/>
            </label></td>
        </tr>

        <tr>
            <td>Age</td>
            <td><label>
                <input type="number" name="age" th:field="*{age}"/>
            </label></td>
        </tr>

        <tr>
            <td>Roles</td>
            <td>
                <label>
                    <select multiple="multiple" size="${roles.size()}" name="select">
                        <option disabled>Select roles</option>
                        <option th:each="role:${roles}"
                                th:value="${role.getName()}"
                                th:text="${role.getName()}"></option>
                    </select>
                </label>
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Edit"/>
            </td>
            <td>
                <a href="/admin">Back</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>