<div class="card">
    <h5 class="card-header">All users</h5>
    <div class="card-body">
        <table id="tableUsers" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="modal fade"
             id="modal"
             tabindex="-1"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <th:block th:include="/_modal"></th:block>
            </div>
        </div>
    </div>
</div>
